nav.navbar.navbar-default {
  margin-bottom: 0;
}


.nav-link.active {
  background-color: #bec1c4;
  color: black;
  border-radius: 12px;
  border: black 1px solid;
}

.nav-item:hover {
  background-color: #bec1c4;
  border-radius: 12px;
}