@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.scrollbar-hide::-webkit-scrollbar {
  display: block;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

